body{
  background-color: linear-gradient(90deg,#ff8a00,#e52e71);

}

#root {
  color: rgb(246, 245, 250);
  position: relative;
  display: inline-block; 
  text-align: center; 
   margin-right: 600px;
   padding-right: 0px;
   margin-left: 200px;
  
}
 
 
#drop{

  background-color:rgb(66, 6, 6);
  color: white;
  
}
#dropList{
  background-color: rgb(66, 6, 6);
  color: antiquewhite;
} 

input {
  width: 30%;
  height: 20%;
  color:white;
  background-color: rgb(66, 6, 6);
}