body{
  background-color: linear-gradient(90deg,#ff8a00,#e52e71);

}

#root {
  color: rgb(128, 43, 4);
   display: flex;
  flex-wrap:wrap; 
  text-align: center; 
   margin-right: 600px;
   padding-right: 0px;
   margin-top: 30px;
   margin-left: 200px;
   line-height: 1.5;
   box-shadow: 0 0 10px rgba(53, 51, 51, 0.5);

  
}
 
 
#drop{

  background-color:rgb(66, 6, 6);
  color: white;
  
}
#dropList{
  background-color: rgb(66, 6, 6);
  color: antiquewhite;
} 

input {
  width: 30%;
  height: 20%;
  color:white;
  background-color: rgb(66, 6, 6);
}
.tClose{
  color:red;
  background-color: black;
  margin: 15px ;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);

}
